main, header, section, aside, footer {
    margin: 0;
    padding: 20px;
    border: 1px solid #000000;
    color: #ffffff;
}

.task {
    display: flex;
    flex-direction:column;
    margin: 0;
    padding: 20px;
    border: 1px solid #000000;
    color: #ffffff;
}

.task_header
{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #03a9f4;  
}

.task_description
{
    flex: 1;
    background: #d22b1f;
}

.task_help
{
    flex: 1;
    background: orange;
}

.task_answer
{
    flex: 1;
    background: gray;
}

.task_solution
{
    flex: 1;
    background: green;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.task_check_btn
{
    background: lightgrey;
    border-radius: 10px;
}
main {
    background: #000000;
    padding: 10px;
}

.hlavicka {
    background: #03a9f4;
}

.rocniky {
    background: #d22b1f;
}

.obsah {
    background: #129a22;
    flex: 1;
}

.temata {
    border: 1px solid #000000;
    background: #673ab7;
    flex: 0 1 250px;
}

.paticka {
    border: 1px solid #000000;
    background: #616161;
}

.flex_blok {
    margin: auto;
    max-width: 1200px;
}

@media screen and (min-width: 640px){
    .flex_blok {
        display: flex;
    }    
}