main, header, section, aside, footer {
    margin: 0;
    padding: 5px;
    border: 1px solid #000000;
    color: #ffffff;
}

.task {
    display: flex;
    flex-direction:column;
    margin: 0;
    padding: 5px;
    border: 1px solid #000000;
    color: #ffffff;
}

.task_container {
    display: none;
}

.task_header
{
    display: flex;
    
    background: #08fa28;  
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;

}

.task_header_desc
{
    flex: 10;
    
  
    text-align: left; 
    color: black; 
}

.task_level
{
    flex: 2;
    background: rgb(24, 59, 134);
    border-radius: 50px;
}

.task_points
{
    flex: 2;
    background: rgb(19, 54, 212);
    border-radius: 50px;
}


.task_help_line {
    display: none;
}

.task_description
{
    flex: 1;
    background: #e62a09;
}

.task_help
{
    flex: 1;
    background: rgb(250, 204, 2);
}

.task_help_line img {
    max-width: 100%;
    height: auto; 
}

.task_answer
{
    flex: 1;
    background: gray;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.task_solution
{
    flex: 1;
    background: green;
}

.task_check_btn
{
    background: rgb(252, 250, 250);
    border-radius: 10px;
}
main {
    background: #0e0d0d;
    padding: 10px;
}

.hlavicka {
    background: #08fa28;
    text-align: center;
    color: #0e0d0d;
}

      
.rocniky {
    background: yellow;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: left;
}

.rocnikitem {
    border: 1px solid #000000;
    padding: 5px;
    color: black;
    text-align: center;
}

.obsah {
    background: #5902fa;

    /* responsive section */
    flex: 1;
}

.temata {
    border: 1px solid #000000;
    background: #e62a09;

    /* responsive section */
    flex: 0 1 250px;
}

.paticka {
    border: 1px solid #000000;
    background: #08fa28;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.patickaitem {
    
    color: #0e0d0d;  
    text-align: center;
}

/* responsive section */
.flex_blok {
    margin: auto;
    max-width: 1200px;
}

@media only screen and (min-width: 640px){
    .flex_blok {
        display: flex;
    }    
    .rocnikitem {
        display: flex;
        color:rgb(8, 8, 8);
    }
    .rocniky,.paticka {
        flex-direction: row;
    }
}