
h1, h3 {color: black; text-align: left}
body {background-color: #94ee94;}
img {width: 250px;}
ul {text-align: left;font-weight: bold}
button {text-align: center; font-weight: bold}
div.A{text-align: center;font-weight: bold}
div.B{text-align: let;font-weight: bold}

